In [1]:
import os
import pandas as pd
import matplotlib .pyplot as plt
import numpy as np

In [2]:
#Import cvs files and change to panda dataframes
filenames = os.listdir("Data/")
filenames = [
    os.path.join( "Data", f)
    for f in filenames
]
dfs = [
    pd.read_csv(f)
    for f in filenames
]

In [3]:
#get years for each dataset
def get_year(filename):
    year = filename.split("_")[-1] # last element
    year = year.split(".")[0] # removes .csv
    year = "20"+year
    return year
year=[]
for f in filenames:
    year.append(get_year(f))

In [4]:
# add year to collumn names
cleandf=[]
counter=0
for df in dfs:
    df=df.rename(columns={
            "CTE_STUDENTS":f"CTE_STUDENTS_{year[counter]}",
            "CTE_HOURS":f"CTE_HOURS_{year[counter]}",
            "CTE_AVG":f"CTE_AVG_{year[counter]}",
            "ALL_STUDENTS":f"ALL_STUDENTS_{year[counter]}",
            "ALL_HOURS":f"ALL_HOURS_{year[counter]}",
            "ALL_AVG": f"ALL_AVG_{year[counter]}",
        })
#remove unwanted columns and drop nan
    del df['REPORT_DISTRICT']
    del df['REPORT_DISTNAME']
    del df['REPORT_CHARTER_STATUS']
    del df['BLANK_COLUMN']
    df = df.dropna(how = "any")
    cleandf.append(df)
    counter=counter+1
dfs=cleandf

In [16]:
#merge function to merge set of dataframes into single dataframe
#outer merge used to get all data
from functools import reduce
def merge(df1, df2):
    return df1.merge(df2, how="outer", on=['DISTRICT', 'SERVICE','SERVICEX'])

df = reduce(merge, dfs)
df.count()

DISTRICT             19974
SERVICE              19974
SERVICEX             19974
CTE_STUDENTS_2015     8542
CTE_HOURS_2015        8542
CTE_AVG_2015          8542
ALL_STUDENTS_2015     8542
ALL_HOURS_2015        8542
ALL_AVG_2015          8542
CTE_STUDENTS_2016     9680
CTE_HOURS_2016        9680
CTE_AVG_2016          9680
ALL_STUDENTS_2016     9680
ALL_HOURS_2016        9680
ALL_AVG_2016          9680
CTE_STUDENTS_2017    11127
CTE_HOURS_2017       11127
CTE_AVG_2017         11127
ALL_STUDENTS_2017    11127
ALL_HOURS_2017       11127
ALL_AVG_2017         11127
CTE_STUDENTS_2018    12531
CTE_HOURS_2018       12531
CTE_AVG_2018         12531
ALL_STUDENTS_2018    12531
ALL_HOURS_2018       12531
ALL_AVG_2018         12531
dtype: int64

In [6]:
# combine into single dataframe and output this dataframe
#move commas from dataset
df_np_zer0=pd.DataFrame(df.fillna(value = 0, inplace=False))
columns=['DISTRICT',  
        'CTE_AVG_2015','CTE_STUDENTS_2015', 
    'CTE_HOURS_2015', 'ALL_STUDENTS_2015', 'ALL_HOURS_2015',
       'ALL_AVG_2015', 'CTE_STUDENTS_2016', 'CTE_HOURS_2016', 'CTE_AVG_2016',
       'ALL_STUDENTS_2016', 'ALL_HOURS_2016', 'ALL_AVG_2016',
       'CTE_STUDENTS_2017', 'CTE_HOURS_2017', 'CTE_AVG_2017',
       'ALL_STUDENTS_2017', 'ALL_HOURS_2017', 'ALL_AVG_2017',
       'CTE_STUDENTS_2018', 'CTE_HOURS_2018', 'CTE_AVG_2018',
       'ALL_STUDENTS_2018', 'ALL_HOURS_2018', 'ALL_AVG_2018']
for c in columns:
    df_np_zer0[c]=df_np_zer0[c].astype(str)
    df_np_zer0[c]=df_np_zer0[c].str.replace(",", "")
    df_np_zer0[c]=pd.to_numeric(df_np_zer0[c])

In [15]:
# comparing year over year and analysis data on different splices

df=df_np_zer0
df.count()
# find outlier to established trends

DISTRICT             19974
SERVICE              19974
SERVICEX             19974
CTE_STUDENTS_2015    19974
CTE_HOURS_2015       19974
CTE_AVG_2015         19974
ALL_STUDENTS_2015    19974
ALL_HOURS_2015       19974
ALL_AVG_2015         19974
CTE_STUDENTS_2016    19974
CTE_HOURS_2016       19974
CTE_AVG_2016         19974
ALL_STUDENTS_2016    19974
ALL_HOURS_2016       19974
ALL_AVG_2016         19974
CTE_STUDENTS_2017    19974
CTE_HOURS_2017       19974
CTE_AVG_2017         19974
ALL_STUDENTS_2017    19974
ALL_HOURS_2017       19974
ALL_AVG_2017         19974
CTE_STUDENTS_2018    19974
CTE_HOURS_2018       19974
CTE_AVG_2018         19974
ALL_STUDENTS_2018    19974
ALL_HOURS_2018       19974
ALL_AVG_2018         19974
dtype: int64

In [12]:
district=pd.read_csv("Book1.csv")

district=district[["District","District Number","TEA District Type","TEA Description"]]
renamed=district.rename(columns={'District Number': 'DISTRICT'})
df=df.merge(renamed, on='DISTRICT', how='left')

In [13]:
df=df.replace(to_replace = -999, value = np.nan)
df['SERVICE'].replace(regex=True,inplace=True,to_replace=r'\D',value=r'')

In [14]:
# output charts 
df_np_=pd.DataFrame(df.dropna(how='any', inplace = False))

In [17]:

df=df_np_
df.to_csv("Clean_and_Combine.csv", index=False)
df.count(

DISTRICT               19842
SERVICE                19842
SERVICEX               19842
CTE_STUDENTS_2015      19842
CTE_HOURS_2015         19842
CTE_AVG_2015           19842
ALL_STUDENTS_2015      19842
ALL_HOURS_2015         19842
ALL_AVG_2015           19842
CTE_STUDENTS_2016      19842
CTE_HOURS_2016         19842
CTE_AVG_2016           19842
ALL_STUDENTS_2016      19842
ALL_HOURS_2016         19842
ALL_AVG_2016           19842
CTE_STUDENTS_2017      19842
CTE_HOURS_2017         19842
CTE_AVG_2017           19842
ALL_STUDENTS_2017      19842
ALL_HOURS_2017         19842
ALL_AVG_2017           19842
CTE_STUDENTS_2018      19842
CTE_HOURS_2018         19842
CTE_AVG_2018           19842
ALL_STUDENTS_2018      19842
ALL_HOURS_2018         19842
ALL_AVG_2018           19842
District_x             19842
TEA District Type_x    19842
TEA Description_x      19842
District_y             19842
TEA District Type_y    19842
TEA Description_y      19842
dtype: int64